<h2>List:</h2>
<p><%= @list.name %></p>

 <h3>Bookmarks</h3>

 <% @bookmarks.each do |bookmark| %>
 <p> Comment: <%= bookmark.comment %></p>
 <p> Movie: <%= bookmark.movie.title %> </p>
 <% end %>
<%= link_to "Delete Bookmark",
  list_path(@list),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>

<p><%= link_to "Create new Bookmark", new_list_bookmark_path(@list) %></p>
